$primary-color: #7BDE67;
$primary-color-medium: #58BE48;
$primary-color-dark: #127F0B;

$background-green: #009329;
$background-green-expanded: #60d66a4f;
$background-gray: #EEEEEE;

// Text
$text-green-light: #60D66A;
$text-green: #69C55B;

$white: #fff;
$gray: #323232;
$gray-bar: #D9D9D9;
$gray-indicator: #929292;

$red-logout: #F124248C;
$red-breakpoint: #bc1313ba;

$btn-button: #0CAB38;